body{
    background-image: url('assets/bb.png');
    align-items: center;
    text-align: center;
    overflow:hidden;
    height:100vh;
   
}
#h1{
    color:rgb(0, 38, 255);
}
.game-continer{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 4px solid black;
    background-color: rgba(19, 0, 0, 0.048);
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.header{
    color:white;
}
#h6{
    height: 200px;
}
#grid{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
   width: 300px;
   height: 300px;
   margin:20px auto;
   border: 4px solid black;
   BACKGROUND-COLOR: rgba(114, 13, 13, 0.808);
}

#grid div{  border: 0.1px solid black;border-radius: 2px; }
.snake{ 
    background-color: rgb(95, 201, 9);
    border-radius:  2px; 
}
.apple{ 
    background-color: red;
    border-radius: 50% !important;
}
.controls{margin: 15x 0;}
.arrow{width: 120px;height: 60px; font-size: 24px; font-weight:bold; margin: 4px; cursor: pointer; 
background-color: rgb(30, 99, 226); border: 2px solid rgb(63, 56, 56); color:rgb(38, 0, 255); border-radius: 12px; 
transition: background-color 0.2s; }
.arrow:active{background-color: rgb(0, 38, 255); color: white; }
#start-btn { padding: 12px 30px; background-color: rgb(30, 99, 226); color: white; border: none; border-radius: 8px;
font-size: 18px; cursor: pointer; }
h2{
    font-size: 24px;
    color: rgb(255, 255, 255);
}

